* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Стили для полосы прокрутки */
body::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
}

/* Стили для бегунка полосы прокрутки */
body::-webkit-scrollbar-thumb {
  background-color: #55BBEB; /* Цвет бегунка */
  border-radius: 5px; /* Скругление углов бегунка */
}

/* Стили для трека полосы прокрутки */
body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Цвет трека */
}

/* Хедер */

.headerMain {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  max-width: 1136px;
  margin: 0 auto; 
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNav img {
  margin-right: 10px;
}


.headerNav a {
  color: #333333;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 600;
  font-size: 14px;
}

.headerNav a:first-of-type {
  margin-left: 56px;
}

.headerSetting {
  display: flex;
  align-items: center;
}

.languageButton {
  cursor: pointer;
  margin-right: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.languageButtonActive {
  cursor: pointer;
  margin-right: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #55BBEB;
  
}

.signInButton {
  padding: 10px 20px;
  background-color: #55BBEB;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 40px;
}

.signInButton:hover {
  background-color: #3d97c0;
}

/* Хедер  КОНЕЦ */

/* BodyTop Начало */

.GradientBody {
  position: relative;
  height: 882px; 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  margin-bottom: 850px;
}

.textBodyTop {
  width: 814px;
  margin: 0 auto; 
  text-align: center; 
  padding-top: 184px;
  
}
.wordColumns {
  display: flex;
  flex-direction: column; 
}

.word {
  font-size: 56px;
  font-weight: 800;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin: 15px 0; 
}

.textBodyTop p {
  width: 600px;
  font-family: Inter;
  font-size: 24px;
  margin: 15px auto;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center; 
}

.textBodyTop p:last-of-type {
  width: 600px;
  font-family: Inter;
  font-size: 20px;
 }

 .iconContent {
  display: flex;
  justify-content: space-between; 
  max-width: 898px;
  padding-top: 128px; 
  margin: 0 auto; 
}

.iconItem {
  display: flex;
  align-items: center; 
  
  padding: 0px;
}

.iconItem img {
  display: flex;
  width: 63px; 
  height: auto; 
  margin-bottom: 10px; 
}

.iconItem p {
   width: 190px;
   margin-left: 16px;
   margin-right: 72px;
   font-size: 18px;
  }

  .iconItem p:nth-child(2) {
    width: 100px;
    margin-left: 16px;
    margin-right: 72px;
    font-size: 18px;
}

.webSiteImage {
  position: absolute;
  max-width: 1249px;
  margin: 30px auto;
  left: 50%; /* Размещение по горизонтали в центре */
  transform: translateX(-50%); /* Сдвиг влево на половину ширины изображения */
  width: 100%;
  }


/* BodyTop КОНЕЦ */

/* BodyMiddle НАЧАЛО */

.bodyMiddleMain {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.contentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-right: 70px;
  width: 540px; 
}

.contentColumn1{
  
font-size: 40px;
font-weight: 700;
}

.contentColumn2{
  font-size: 24px;
  }

  .imgPlatform1{
    margin-left: 10px;
    margin-top: 62px;
  }

.imageRow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 40px; 
}

.aboutPlatform{
  margin-top: 58px;
  max-width: 163px;
  height: 46px;
}



.imageColumn img {
  max-width: 100%; /* Ширина картинки */
}

/* BodyMiddle КОНЕЦ */

/* Слайдер НАЧАЛО */

.BodySlideMain {
 
  background-color: #364954;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.contentWrapper {
  max-width: 1136px;
  display: flex;
  align-items: center;
}

.textContent {
  flex: 1;
}

.htextSlider {
  color: #f0f0f0;
  margin-bottom: 50px;
  font-size: 43px;
}

.textSlider{
  
  margin-bottom: 20px;
  color: #f0f0f0;
  font-size: 24px;
}

.slider {
  display: flex;
  align-items: center;
}

.phaseSlider {
  width: 20px;
  height: 25px;
  background-color: #ccc;
  position: relative;
  animation: slideAnimation 15s infinite;
  top: -70; /* Начальное положение вверху */
}

@keyframes slideAnimation {
  0% {
    top: -70px;
  }
  28% {
    top: -70px;
  }
  33% {
    top: 7px;
  }66% {
    top: 7px;
  }
  70% {
    top: 55px;
  }
  97% {
    top: 55px;
  }
  100% {
    top: -103px;
  }
}

.nameSlider {
  margin-left: 10px;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.imageWrapper img {
  max-width: 100%;
  height: auto;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.imageOverlay {
  position: relative;
  margin-left: -50px;
  animation: fadeInOut 5s infinite; 
  
}

.imageOverlay.active {
  opacity: 1;
  animation: none; 
}
/* Слайдер КОНЕЦ */


/* МОБИЛЬНАЯ ВЕРСИЯ */


@media (max-width: 1078px) {
  .headerNav a {
    display: none;
  }
  
  .languageButtonActive {
    display: none;
  }
  .languageButton {
    display: none;
  }

  .GradientBody {
    width: 100%;
    margin-bottom: 550px;
  }
  

.textBodyTop {
  width: 100%; 
  padding: 40px 20px; 
}

.contentColumn1{
  max-width: 200px; 
font-size: 40px;
font-weight: 700;
}

.htextSlider{
  display: none;
}

.phaseSlider{
  display: none;
}

.textSlider{
  display: none;
}

.contentColumn2{
  font-size: 24px;
  max-width: 350px; 
  margin: 0 auto;
  }

  .aboutPlatform{
    display: none;
  }

.word {
  font-size: 28px; 
  line-height: 36px; 
  margin: 5px 0; 
}

.textBodyTop p {
  width: 100%; 
  font-size: 18px; 
  line-height: 24px; 
  margin: 10px 0; 
}

.textBodyTop p:last-of-type {
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
 }

.iconContent {
  display: block; 
  max-width: 100%; 
  padding-top: 60px; 
  margin-left: 30px;
}



.iconItem img {
  width: 48px; 
  height: auto;
  margin-bottom: 8px;
}

.iconItem p {
  width: 100%; 
  margin: 8px 0; 
  font-size: 14px; 
}
.imageColumn img {
  display: none;
}

}
  

@media (max-width: 670px) {
  .GradientBody {
    margin-bottom: 300px;
  }
}

@media (max-width: 500px) {
  .GradientBody {
    margin-bottom: 100px;
  }
}